# Loop

In [1]:
l = [36,25,85,65,45,89,12]

In [2]:
l

[36, 25, 85, 65, 45, 89, 12]

In [3]:
l[0]

36

In [4]:
l[1]

25

In [5]:
l[2]

85

### 1. Loop: for

In [7]:
for <index> in <iterator>:
    print(index)
    print(index)
    print(index)
    print(index)
    print(index)

In [8]:
len(l)

7

In [9]:
range(0, 10)

range(0, 10)

In [10]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [11]:
l

[36, 25, 85, 65, 45, 89, 12]

In [12]:
len(l)

7

In [13]:
for i in range(0, 7):
    print(l[i])

36
25
85
65
45
89
12

In [14]:
for i in range(0, len(l)):
    print(l[i])

36
25
85
65
45
89
12

### Sum of number in list

In [15]:
l

[36, 25, 85, 65, 45, 89, 12]

In [17]:
sum = 0

for i in range(0, len(l)):
    sum = sum + l[i]
    
print(sum)

357

### Pint the Pattern

In [19]:
word = "india"

for letter in word:
    print(letter)

i
n
d
i
a

### Multiplication Table

In [27]:
n = 1005890

for i in range(1, 11):
    print(f" {n} x {i} = {n*i}")

 1005890 x 1 = 1005890
 1005890 x 2 = 2011780
 1005890 x 3 = 3017670
 1005890 x 4 = 4023560
 1005890 x 5 = 5029450
 1005890 x 6 = 6035340
 1005890 x 7 = 7041230
 1005890 x 8 = 8047120
 1005890 x 9 = 9053010
 1005890 x 10 = 10058900

In [21]:
n=5
i=3
print(f"dfghjkghjkl: {n} {i}")

dfghjkghjkl: 5 3

### Factorial of number

In [31]:
result = 1
n = 10

for i in range(1, n+1):
    result = result * i
    
print(result)

3628800

In [34]:
n = int(input("Enter a number whose factorial we want to find  :"))
fact = 1

for i in range(1,n+1):
    fact = fact*i

print(fact)

Enter a number whose factorial we want to find  :10
3628800

### 2. Loop: while

In [ ]:
while <condition>:
    print()

In [36]:
n = 5
i = 1

while i <= n:
    
    print(" * " * i)
    
    i = i +1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [37]:
n = 5
i = n

while i >= 1:
    print(" * " * i)
    
    i = i - 1

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [39]:
n = 5
i = 1

while i <= n:
    
    print(" * " * i)
    
    i = i +1
    
n = 4
i = n

while i >= 1:
    print(" * " * i)
    
    i = i - 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

### Pattern Print

In [41]:
string = "PYTHON INDIA"
index = 0

while index < len(string):
    print(string[index])
    
    index += 1

P
Y
T
H
O
N

I
N
D
I
A

## Print the number from n to 1

In [47]:
# num = int(input("Enter number: "))


num = 7
while num >= 0:
    print(num)
    
    num -= 1

7
6
5
4
3
2
1
0

# Function

In [50]:
l

[36, 25, 85, 65, 45, 89, 12]

In [49]:
len(l)

7

In [51]:
s = 'INDIA VS ENGLAND'

In [52]:
s

'INDIA VS ENGLAND'

In [53]:
len(s)

16

In [54]:
for i in range(15, 20):
    print(i)

15
16
17
18
19

In [ ]:
def dghj():
    print()
    print()

In [ ]:
def my_func():
    pass

In [55]:
def greet():
    print("Hello!")

In [56]:
greet()

Hello!

In [57]:
result = greet()

Hello!

In [58]:
print(result)

None

In [59]:
type(result)

NoneType

In [61]:
def test1():
    
    sum = 1 + 5
    
    return sum

In [62]:
test1()

6

In [63]:
result = test1()

In [64]:
print(result)

6

In [65]:
type(result)

int

In [66]:
def test3():
    
    li = [1,2,3]
    
    return li

In [67]:
result = test3()

In [68]:
print(result)

[1, 2, 3]

In [69]:
len(result)

3

In [70]:
def test5():
    
    name = "PRAVIN"
    
    return name

In [72]:
name = test5()

In [73]:
name

'PRAVIN'

In [74]:
test5() + " DOLE"

'PRAVIN DOLE'

In [78]:
def test6():
    
    return [36,58,14]

In [79]:
test6()

[36, 58, 14]

In [96]:
def test6():
    
    return 36,58,'14'

In [97]:
test6()

(36, 58, '14')

In [99]:
a, b, c = test6()

In [89]:
a

36

In [90]:
b

58

In [91]:
c

14

In [100]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'str'>

In [86]:
a,b,c = 1,2,3

In [87]:
print(a)
print(b)
print(c)

1
2
3

In [101]:
def test7():
    
    result = 50/20*6+8-5
    
    return result

In [102]:
test7()

18.0

In [103]:
50/20*6+8-5

18.0

In [116]:
def test8():
    
    l = [1,2,3,4,5,6,7,8,9,10]
    
    sum = 0
    
    for i in l:
        
        sum = sum + i
        
    return sum

In [117]:
test8()

55

In [118]:
1+2+3+4+5+6+7+8+9+10

55

In [119]:
def test9():
    
    l = [1,2,3,4,5, 'INDIA', 'PUNE', 6,7,8, 'RANI', 10]
    
    sum = 0
    
    for i in l:
        
        sum += i
        
    return sum

In [120]:
test9()

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [121]:
6 + 'india'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [125]:
def test9():
    
    l = [1,2,3,4,5, 'INDIA', 'PUNE', 6,7,8, 'RANI',9,10]
    
    sum = 0
    
    for i in l:
        
        if type(i) == int:
            
            sum += i
        
    return sum

In [126]:
test9()

55

In [132]:
def test10(mylist):
    
    sum = 0
    
    for i in mylist:
        
        if type(i) == int:
            
            sum += i
            
    return sum

In [133]:
l = [1,2,3,4,5,'a','b','c',6,7,8,'d','e',9,'f',10]

In [134]:
test10(l)

55

In [138]:
def test11(mylist):
    
    sum = 0
    
    for i in mylist:
        
        if type(i) == int:
            
            sum += i
            
    return sum

In [139]:
l = [1,2,3,4,'a','b','c',5]

In [140]:
test11(mylist=l)

15

In [142]:
test11(mylist = l)

15

In [143]:
def two_no_sum(a, b):
    
    sum = a + b
    
    return sum

In [145]:
a = 2
b = 3

result = two_no_sum(a,b)

In [146]:
result

5

In [147]:
p = 5
q = 10

two_no_sum(p,q)

15

In [148]:
two_no_sum(a=p, b=q)

15

In [ ]:
test7()

In [ ]:
function25()

In [149]:
len(l)

8

In [150]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [151]:
two_no_sum(a=p, b=q)

15

In [155]:
def two_no_sum(a, b):
    """
    calculate the sum of two numbers
    :params: 'a' is first number
    :params: 'b' is second number
    :return: additon of two numbers
    
    """
    
    sum = a + b
    
    return sum

In [157]:
two_no_sum(1,2)

3

In [160]:
print(two_no_sum.__doc__)

    calculate the sum of two numbers
    :params: 'a' is first number
    :params: 'b' is second number
    :return: additon of two numbers

In [161]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [162]:
['a','b','c']

['a', 'b', 'c']

In [165]:
def test12(mylist):
    
    li = []
    
    for i in mylist:
        
        if type(i) == str:
            
            li.append(i)
            
    return li

In [166]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [167]:
test12(l)

['a', 'b', 'c']

In [174]:
def test13(mylist):
    """
    This function seperates the integer and str elements from the given list
    :params: list()
    :return: string list, integer list
    """
    
    li_int = []
    li_str = []
    
    for i in mylist:
        
        if type(i) == str:
            li_str.append(i)
            
        if type(i) == int:
            li_int.append(i)
            
    return li_str, li_int

In [175]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [176]:
list_str, list_int = test13(l)

In [177]:
list_str

['a', 'b', 'c']

In [178]:
list_int

[1, 2, 3, 4, 5]

In [183]:
def test13(mylist: list()):
    """
    This function seperates the integer and str elements from the given list
    :params: list()
    :return: string list: [], integer list: list()
    """
    
    li_int = []
    li_str = []
    
    for i in mylist:
        
        if type(i) == str:
            li_str.append(i)
            
        if type(i) == int:
            li_int.append(i)
            
    return li_str, li_int

In [182]:
test13(list_int)

([], [1, 2, 3, 4, 5])

1. Assignment
    1. function_name should be meaningful
    2. datatype
    3. return type
    4. Docstring 1. description, 2. parameter, 3. return

Fri 10:00 PM

1. POST

    1. LinkedIn
    2. towardsdatascience.com
    
2. stackoverflow.com